body{
    background: url(images/bg.jpg) no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}
.bg{
    width: 100%;
    background: #4169E1; 
    text-align: center;
}
a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #000;
   background: #4169E1;
}